@use '../../variable' as color;
@use '../../variable' as style;
@use '../../mixin' as func;

.discussion-thread {
  padding: 0px 0px 70px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow-y: scroll;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.title-section {
  padding-top: 10px;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #fff;
  z-index: 3;

  .user-close-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 5px;
  @include func.font-setting(0.75rem, 400, color.$primary-font);
}

.close-icon {
  display: block;
  height: 20px;

  svg {
    width: 20px;
    height: 20px;
    color: #22577e;
  }
}

.user-name {
  display: flex;
  gap: 5px;
}

.name {
  color: color.$primary-font;
}

.role {
  padding: 0 5px;
  background-color: color.$primary-color;
  color: #fff;
  border-radius: 5px;
}

.edited {
  @include func.font-setting(0.75rem, 400, color.$gray-font);
}

.dot-menu-icon {
  &:hover::after {
    position: absolute;
    width: 35px;
    border-radius: 5px;
    background-color: dimgray;
    color: #fff;
    text-align: center;
    font-size: 0.9375rem;
    content: '選單';
  }
}

.menu-close-button {
  position: relative;
  display: flex;

  p {
    cursor: pointer;
    display: block;

    svg {
      width: 20px;
      height: 20px;
      color: #22577e;
    }
  }
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(88, 88, 88, 0.405);
}

.alert-container {
  padding: 20px;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: style.$border-radius-5;
  background-color: #fff;
  z-index: 11;

  h3 {
    text-align: center;
    margin-bottom: 30px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .btn-cancel,
  .btn-sure {
    @include func.font-setting(0.75rem, 700, #fff);
    padding: 12px 20px;
    border-radius: 24px;
    cursor: pointer;
  }

  .btn-cancel {
    background-color: rgb(158, 158, 158);
  }

  .btn-sure {
    background-color: color.$primary-color;

    &:disabled {
      background-color: rgb(158, 158, 158);
    }
  }
}

.menu-toggle {
  position: absolute;
  display: none;

  &:checked ~ .menu {
    transition: opacity 0.2s ease-out 0.15s;
    opacity: 1;
    visibility: visible;
  }
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  color: color.$primary-color;
}

.menu-item {
  padding: 1px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.title,
.content {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.title {
  @include func.font-setting(1rem, 700, color.$primary-font);
  position: relative;
  left: 5px;
}

.content-container {
  position: relative;
  left: 5px;
  width: 95%;
  border-bottom: 1px solid color.$primary-color;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.answer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  left: 5px;
  width: 90%;
}

.answer-form {
  position: fixed;
  padding: 20px 0;
  bottom: 0px;
  width: 90%;
  display: flex;
  background-color: #fff;
  gap: 5px;
  align-items: flex-end;
}

@media screen and (min-width: 570px) {
  .discussion-thread {
    padding-bottom: 5px;
    position: relative;
    height: 80vh;
    width: 90vw;
    max-width: 1000px;
  }

  .scrollbar {
    margin-right: 5px;

    &::-webkit-scrollbar {
      width: 8px;
    }
  }

  .title-section {
    .user-close-button {
      width: 95%;
    }
  }
}
