%button {
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  background-color: #ffffff00;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
}

.button-login {
  @extend %button;

  &:hover {
    background-color: #5584ac;
  }
}

.button-sign-up {
  @extend %button;
  background-color: #0c7b93;

  &:hover {
    background-color: #13a9ca;
  }
}

.button-submit {
  @extend %button;
  width: 100%;
  background-color: #0c7b93;

  &:hover {
    background-color: #13a9ca;
  }
}

.button-close {
  position: absolute;
  right: 20px;
  top: 10px;
}