@use '../../variable' as color;

%button {
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  color: color.$primary-color;
  transition: 0.3s ease-out;
  font-size: 16px;
  font-family: inherit;
}

.button-login {
  @extend %button;
  border: 1px solid color.$primary-color ;

  &:hover {
    color: color.$secondary-color;
    border: 1px solid color.$secondary-color;
  }
}

.button-sign-up {
  @extend %button;

  &:hover {
    color: color.$secondary-color;
  }
}

.button-submit {
  @extend %button;
  width: 100%;
  background-color: color.$primary-color;
  color: #FFF;

  &:hover {
    background-color: color.$secondary-color;
  }
}

.button-close {
  position: absolute;
  right: 20px;
  top: 10px;
}