@use '../../variable' as color;

%button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border: 0px;
  border-radius: 5px;
  color: color.$primary-color;
  transition: 0.3s ease-out;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: 2px;
}

.button-login {
  @extend %button;
  border: 1px solid color.$primary-color;

  &:hover {
    color: color.$secondary-color;
    border: 1px solid color.$secondary-color;
  }
}

.button-sign-up {
  @extend %button;

  &:hover {
    color: color.$secondary-color;
  }
}

.button-submit {
  @extend %button;
  margin-top: 12px;
  width: 80%;
  background-color: color.$primary-color;
  color: #fff;

  &:hover {
    background-color: color.$secondary-color;
  }
}

.button-close {
  position: absolute;
  right: 20px;
  top: 10px;
}

.button-text {
  line-height: 2rem;
}
