.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  overflow-y: scroll;
}

.container {
  display: flex;
  justify-content: center;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  top: 100px;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}