@use '../../variable' as style;
@use '../../variable' as color;
@use '../../mixin' as func;

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 90%;
}

.profile-link-text {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.file-input-container {
  position: relative;
  display: flex;
  padding-bottom: 5px;
}

.error-message {
  position: absolute;
  top: 100%;
  color: red;
  font-size: 8px;
}

.user-email {
  @include func.font-setting(0.9375rem, 400, style.$primary-font);

  p {
    @include func.font-setting(0.9375rem, 400, rgb(158, 158, 158));
  }
}

.name-input {
  position: relative;
  display: flex;
  align-items: center;
}

.name-length-number {
  position: absolute;
  right: 0;
  @include func.font-setting(0.9375rem, 400, rgb(158, 158, 158));
}

.edit-password {
  color: color.$primary-color;
  transition: 0.3s ease-out;

  &:hover {
    color: color.$secondary-color
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 570px) {
  .wrapper {
    margin: 0 auto;
    position: relative;
    top: 100px;
    max-width: 600px;
    height: 70vh;
    border-radius: 5px;
  }

  .profile-link-text {
    margin-bottom: 10px;
  }

  .form {
    position: relative;
    top: 20px;
    gap: 20px;
  }
}