.header {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #22577e;
  width: 100%;
  height: 56px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.header-title {
  color: #fff;
}

.header-button {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
