@use '../../variable' as color;
@use '../../mixin' as func;

// style for answer's textArea
.textareaAnswer {
  padding-top: 12px;
  padding-left: 6px;
  height: 100%;
  flex: 1;
  align-self: center;
  border-color: #d9d9d9;
  border-radius: 5px;
  @include func.font-setting(0.75rem, 400, color.$primary-font);
  font-family: inherit;

  &:focus {
    outline: none;
    border-color: color.$secondary-color;
  }

  &::placeholder {
    color: color.$gray-font;
  }
}

// style for ask's textArea
.textareaAsk {
  padding: 12px 12px;
  height: 100%;
  width: 100%;
  border: unset;
  // box-shadow: inset 0px 5px 13px -12px color.$primary-color;
  font-family: inherit;

  &:focus {
    outline: none;
    border-color: color.$secondary-color;
  }

  &::placeholder {
    color: color.$gray-font;
  }
}


.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
