@use '../../variable' as color;
@use '../../mixin' as func;

// style for answer's textArea
.textareaAnswer {
  @include func.font-setting(0.75rem, 400, color.$primary-font);
  padding-top: 12px;
  padding-left: 6px;
  height: 100%;
  flex: 1;
  align-self: center;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  font-family: inherit;
  box-shadow: inset 0px 0px 4px -2px rgb(166, 166, 166);

  &:focus {
    outline: none;
    border-color: color.$secondary-color;
    box-shadow: inset 0px 0px 4px -2px color.$secondary-color;
  }

  &::placeholder {
    color: color.$gray-font;
  }
}

// style for ask's textArea
.textareaAsk {
  padding: 5px 5px;
  height: 100%;
  width: 95%;
  border: unset;
  font-family: inherit;
  @include func.font-setting(1rem, 400, block);

  &:focus {
    outline: none;
    border-color: color.$secondary-color;
  }

  &::placeholder {
    color: color.$gray-font;
  }
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.question-title-input {
  padding: 5px 5px;
  width: 95%;
  border: 0px;
  border-bottom: 1px solid color.$dim-gray;
  @include func.font-setting(1rem, 400, block);
}

.title-error,
.content-error {
  padding-right: 20px;
  align-self: flex-end;
  color: red;
}