@use '../../variable' as color;
@use '../../variable' as style;

.input-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.label {
  margin-bottom: 0.5rem;
}

.input {
  padding: 0 0 0 1rem;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid color.$dim-gray;
  border-radius: style.$border-radius-5;
  transition: 0.3s ease-out;
  font-family: inherit;
  font-size: 16px;

  &:hover,
  &:focus {
    border: 1px solid color.$secondary-color;
  }
}