@use '../../variable' as color;
@use '../../variable' as style;

%input {
  height: 40px;
  border: 0px;
  border-bottom: 1px solid color.$dim-gray;
  transition: 0.3s ease-out;
  font-family: inherit;
  font-size: 16px;

  &:hover,
  &:focus {
    border-bottom: 1px solid color.$secondary-color;
  }

  &:focus ~ .label,
  &:valid ~ .label,
  &:not(:placeholder-shown) ~ .label {
    top: -20px;
    left: 0;
    color: color.$secondary-color;
    font-size: 12px;
  }
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input {
  @extend %input;
}

.error-input {
  @extend %input;
  border-bottom: 1px solid red;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s;
}

.error-message {
  position: absolute;
  top: 100%;
  right: 0%;
  color: red;
  font-size: 8px;
}
