.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 10;
}

.modal-outer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  border: 1px solid black;
  border-radius: 5px;
  width: 400px;
  z-index: 20;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 1rem;

  & h2 {
    margin: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  gap: 1rem;
}