@use '../../variable' as color;
@use '../../variable' as style;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.modal-outer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: style.$border-radius-5;
  z-index: 20;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 1rem;

  & h2 {
    letter-spacing: 5px;
    margin: 0;
  }
}

.form {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
