@use '../../variable' as color;
@use '../../variable' as style;
@use '../../mixin' as func;

.modal-outer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  max-height: 90vh;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: style.$border-radius-5;
  z-index: 20;
  overflow-y: scroll;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.header {
  padding: 1.5rem;

  & h2 {
    letter-spacing: 5px;
    margin: 0;
  }
}

.form {
  height: 100%;
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.ask-modal-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  z-index: 20;
  overflow-y: scroll;

  .header {
    position: relative;
    padding: unset;
    width: 100%;
    border-bottom: 1px solid color.$dim-gray;

    & h2 {
      @include func.font-setting(1rem, 500, color.$primary-font);
      display: block;
      margin: 16px auto;
      width: fit-content;
      letter-spacing: 0px;
    }
  }

  .form {
    gap: 0px;
  }
}

.icon {
  display: block;
  height: 20px;

  svg {
    width: 20px;
    height: 20px;
    color: #22577e;
  }
}

.question-modal-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 20;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.answer-form {
  position: relative;
  right: 4px;
  display: flex;
  gap: 5px;
  width: 90%;
  align-items: flex-end;
}

@media screen and (min-width: 570px) {
  .ask-modal-container {
    padding: 0 16px;
    width: 80vw;
    height: 70vh;
    border-radius: style.$border-radius-5;
  }

  .question-modal-container {
    width: 90vw;
    height: 90vh;
    border-radius: style.$border-radius-5;
  }

  .answer-form {
    right: 7px;
    width: 90%;
  }
}

@media screen and (min-width: 990px) {
  .ask-modal-container {
    width: 60vw;
  }
}
