@use '../../variable' as color;
@use '../../mixin' as func;

.answer-container {
  display: flex;
  gap: 5px;
}

.answer {
  flex: 1;
}

.user {
  display: flex;
  gap: 5px;
  @include func.font-setting(0.75rem, 400, color.$primary-font);
}
