@use '../../variable' as color;
@use '../../mixin' as func;

.answer-container {
  display: flex;
  gap: 5px;
  white-space: pre-wrap;
}

.answer {
  width: 90%;
  flex: 1;
  color: black;
}

.content {
  overflow-wrap: break-word;
}

.user {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-name {
  @include func.font-setting(1rem, 400, color.$primary-font);
}

.user-role {
  padding: 0 5px;
  background-color: color.$primary-color;
  border-radius: 5px;
  @include func.font-setting(0.75rem, 400, #fff);
}

.user-post-date {
  @include func.font-setting(0.75rem, 400, color.$primary-font);
}